
.music {
background-color:#eee;
width:50px;
height:50px;
position:fixed;
	bottom:10vh;
	left:-50px;
overflow: hidden;
z-index: 10;
border-radius:15px;
}
.music img {
width:50px;
height:50px;
position:fixed;
	bottom:10vh;
	left:0px;
	z-index: 11;
}
.music audio {
background-color:#eee;
width:300px;
height:100px;
position:absolute;
bottom:0px;
left:50px;
}
.music ul {
list-style-type: none;
}
.music:hover {
position:fixed;
	left:0px;
width:350px;
height:300px;
-webkit-transition-property:width,height;
	-webkit-transition-duration:0.5s;
}
.ck {
position:absolute;
top:0px;
left:0px;
width:350px;
height:200px;
overflow:scroll;
}
.music button {
width:350px;
height:40px;
}
